
body{
    background-color: #161416;
}
h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.barra{
    background-color: #eb1d27;
    margin-left: 200px;
    margin-right: 250px;
    right: 250px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #c0c0c0;
    background-color: ;
    color: #ffffff;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid #3f3f3f;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}
.imagem{
      display: flex;
      justify-content: center;
      align-items: center; 
      size: auto;
}
.logo{
  
}
div{
    display: inline-block;
}