
body{
    background-color: #161416;
}
h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.barra{
    background-color: #eb1d27;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #c0c0c0;
    color: #ffffff;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid #3f3f3f;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
    border-width: 3px;
}
.imagem{
      display: flex;
      justify-content: center;
      align-items: center; 
      size: auto;
      margin-left: 500px;
      margin-right: 500px;
}
.logo{
  margin-bottom: -100px;
}
div{
    display: inline-block;
    font-style: italic;
}
.img {
      display: flex;
      justify-content: center;
      align-items: center; 
      width: 2000px;
      height: 900px;
      position: relative;
      margin-left: -500px;
      margin-right: -500px;

}
button {
        background-color: #FFD700;
        color: black;
        padding: 20px;
        border-radius: 10px;
        width: 225px;
        margin-left: 180px;
        margin-right: 180px;
        cursor: pointer;
        border: 3px solid #ffffff;
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
        font-style: italic;
      }